.profileContainer {
    width: 100%;
    min-height: 100vh; 
    height: fit-content;
    background-color: $primaryColor; 
    display: flex;
    justify-content: space-evenly;

    .personalInformation {
        width: 25%;
        height: fit-content;
        min-height: 90vh;
        margin: 15vh 0 0 0;
        background: linear-gradient($green, transparent) 0 0 / calc(100% + 1px) 10%;
        background-repeat: no-repeat;

        .profileContainer {
            background-color: $white;
            width: 90%;
            height: 120px;
            min-height: 120px;
            margin: 0 auto;
            border-radius: 0 0 19px 19px;
            border-top: 2px solid $white;

            div {
                background-color: $primaryColor;
                width: 85%;
                height: 100px;
                margin: 0 auto;
                border-radius: 0 0 19px 19px;

            }
        }

        .profileImage {
            background-color: $white;
            width: 50%;
            max-width: 200px;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            margin: 0 auto;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 95%;
                height: 95%;
                border-radius: 50%;
            }
        }

        h3 {
            color: $white;
            font-family: $font1;
            text-align: justify;
            font-size: 1rem;
            transform: translateY(-15%);
        }

        .developerExperiencieLinks {
            width: 100%;
            display: flex;
            justify-content: end;

            a {
                cursor: pointer;
                margin: 0 5%;

                .fa-brands {
                    color: $white;
                    font-size: 2rem;
                }
            }

            a:hover {
                box-shadow: 0 0 20px 10px rgba(130, 250, 170, 0.5);
                border-radius: 50%;

                .fa-brands {
                    color: $green;
                    font-size: 2.2rem;
                }
            }
        }
    }

    .introductionProfile {
        height: fit-content;
        min-height: 92.5vh;
        width: 25%;
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            border-bottom: 2px solid $green;
            color: $green;
            font-family: $font1;
            font-size: 4rem;
        }

        .othersContainer {
            display: flex;
            flex-direction: column;
            height: fit-content;
            justify-content: end;

            span {
                margin-top: 10px;
                font-family: $font1;
                color: $white;
                font-size: 1.2rem;
            }

            div {
                background: $white;
                width: 85%;
                margin: 0;
                height: 10px;
                border-radius: 19px;
                display: flex;
                align-items: center;
                justify-content: end;

                h2 {
                    color: $white;
                    font-family: $font1;
                    transform: translateX(110%);
                    font-size: 1rem;
                }
            }

            h3 {
                font-family: $font1;
                color: $white;
                font-size: 1.2rem;
                margin: 50px 0 0 0;
            }

            div:last-child {
                background: none;
                width: 90%;
                margin: 0;
                height: fit-content;
                border-radius: 0;
                display: flex;
                align-items: center;
                justify-content: start;
                flex-wrap: wrap;

                img {
                    width: 40px;
                    height: 40px;
                    margin: 5px;
                }
            }

            .haundredPorcent {
                background: linear-gradient(to right, #82FAAA 100%, white 50%);
            }

            .fiftyPorcent {
                background: linear-gradient(to right, #82FAAA 50%, white 50%);
            }
        }
    }

    .skillContainer {
        height: fit-content;
        min-height: 90vh;
        width: 25%;
        margin: 15vh 0 0 0;
        display: block;

        h1 {
            color: $white;
            font-family: $font1;
            text-align: center;
            margin-bottom: 1rem;
            font-size: 2rem;
        }

        div {
            display: flex;
            justify-content: center;

            div {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;

                i {
                    margin: 5% 0;
                }

            }
        }
    }
}


@media (max-width: 1080px) {
    .profileContainer {
        display: block;
        height: auto;

        .personalInformation {
            width: 90%;
            margin: auto;
            padding: 0 5%;
        }

        .skillContainer {
            height: fit-content;
            width: 90%;
            margin: 50px auto 0 auto;
            padding: 0 5% 5rem 5%;
        }

        .introductionProfile {
            height: fit-content;
            min-height: fit-content;
            width: 90%;
            margin: 0 auto 5rem auto;
        }


    }
}