.startContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primaryColor;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    

    div {
        width: 30%;
        margin-left: 5%;
        color: $white;
        font-family: $font1;

    
        h3:last-child {
            margin-top: 20px;
            text-align: justify;
        }
        .yellowColor{
            color: $yellow;
           }
    }

    img {
        width: 40%;
        margin-right: 15%;
        height: auto;
    }
}

@media (max-width: 800px) {
    .startContainer {
        display: block;

        div {
            width: 80%;
            padding: 60% 10% 20% 10%;
            margin: 0;
        }

        img {
            display: none;
        }
    }
}