*{ padding: 0; margin: 0;}
$primaryColor:#0F0B1C;
$white:white;
$green:#82FAAA;
$yellow:#FFF755;
$red:#f82d97;
$blue:#01c4e7;
$purple:#c501e2;

$grey:#F4F4F4;
$greyLetter:#BABDC2;
$blackLetter:#3D4657;
$darkGrey:rgba(78,78,78,0.3);
$robbingEggBlue:#12C9CC;


$font1: 'Roboto Mono', monospace;

@keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.fadeInUp {
  opacity: 0;
  transform: scale(1.5);
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.fadeInUp:hover{
  transform: scale(1.05);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px) scale(1.5);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}