*{ padding: 0; margin: 0;}
$primaryColor:#0F0B1C;
$secondColor:#2d2d2de0;
$white:white;
$green:#82FAAA;
$yellow:#FFF755;
$red:#f82d97;
$blue:#01c4e7;
$purple:#c501e2;

$grey:#F4F4F4;
$greyLetter:#BABDC2;
$blackLetter:#3D4657;
$darkGrey:rgba(78,78,78,0.3);
$robbingEggBlue:#12C9CC;


$font1: 'Roboto Mono', monospace;

@keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
  }
  